*,
::before,
::after {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  padding: 0 10px;
  background-color: #e8e8e8;
  color: #383838;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
}

button > span {
  font-size: 18px;
  padding: 3 5px;
  color: #383838;
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: #282828;
  font-family: "Roboto", sans-serif;
}

.col {
  padding: 0 2px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

svg {
  padding: 5px;
}

.hidden {
  display: none;
  margin: 0;
}

code {
  font-family: "Inconsolata", monospace;
}

table.array, table.array td {
  text-align: center;
  font-family: "Inconsolata", monospace;
}

table.array td, table.array tbody tr:last-child td {
  border: 1px solid black;
}

table.no-border, tr.no-border, tr.no-border > td {
  border: none !important;
}