.reveal .slides section {
  text-align: left;
  font-size: smaller;
}

.reveal pre.code-pre {
  background-color: #dedede;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-shadow: none;
}

.reveal pre.text-pre {
  box-shadow: none;
  font: inherit;
  padding: 1em 0;
  display: block;
}

.reveal pre.code-pre > code {
  border-radius: 4px;
  padding: 4px 10px;
  max-height: fit-content !important;
}

.reveal pre.text-pre,
.reveal pre.code-pre > code {
  font-size: 24px;
  line-height: 32px;
}

:root {
  --r-heading-font: "Roboto", sans-serif;
  --r-heading-color: #282828;

  --r-main-font: "Work Sans", sans-serif;
  --r-main-color: #383838;
  --r-background-color: #e8e8e8;

  --r-code-font: "Inconsolata", monospace;

  --r-link-color: #0066cc;
  --r-link-color-hover: #0066cc;
}

.slide-menu-button > a {
  color: var(--r-main-color);
}

#customcontrols button {
  color: var(--r-main-color);
}

.reveal .controls {
  color: var(--r-main-color);
}

.reveal .progress {
  color: var(--r-main-color);
}

.code-badge {
  font-size: 12px !important;
  padding: 3px 4px 3px 4px !important;
  border-radius: 0 2px 0 7px !important;
}

.code-badge-language {
  display: none;
}

.no-code-badge > .code-badge {
  display: none;
}
